a {
    color: white;
}

.header {
    border-bottom: 2px solid #f5821f;
    background-color: white;
    width: 500px;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
}

.logo {
    padding: 10px;
    width: 40%;
}

.botui-container {
    top: 70px;
    position: relative;
}

.botui-message-content {
    background-color: #f5821f;
    color: white;
}

.botui-message-content.human {
    background-color: #00a1e4;
}

.botui-actions-buttons-button {
    background-color: #00a1e4;
}
